{% extends 'base.html' %}
{% load static %}

{% block title %} Add training {% endblock %}

{% block css %} {% endblock %}

{% block main %}
	<div class="container">
		<div class="head">
			<h1>Add Beneficiary</h1>		
		</div>
		<form method="post" action="{% url 'beneficiary' %}">
			{% csrf_token %}
			{{ beneficiary_form }}

			{% if beneficiary_form.errors %}
				{% for field in beneficiary_form %}
					{% for error in field.errors %}
						<div class="error">
							<strong>{{ error|escape }}</strong>
						</div>
					{% endfor %}
				{% endfor %}
				{% for error in form.non_field_errors %}
					<div class="error">
						<strong>{{ error|escape }}</strong>
					</div>
				{% endfor %}
			{% endif %}
			<input type="submit" value="Register">
		</form>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}